@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%; /* #ffffff */
	--foreground: 240 10% 3.9%; /* #08080a */
	--card: 0 0% 100%; /* #ffffff */
	--card-foreground: 240 10% 3.9%; /* #08080a */
	--popover: 0 0% 100%; /* #ffffff */
	--popover-foreground: 240 10% 3.9%; /* #08080a */
	--primary: 240 5.9% 10%; /* #17171b */
	--primary-foreground: 0 0% 98%; /* #f9f9f9 */
	--secondary: 240 4.8% 95.9%; /* #f4f4f5 */
	--secondary-foreground: 240 5.9% 10%; /* #17171b */
	--muted: 240 4.8% 95.9%; /* #f4f4f5 */
	--muted-foreground: 240 3.8% 46.1%; /* #71717a */
	--accent: 240 4.8% 95.9%; /* #f4f4f5 */
	--accent-foreground: 240 5.9% 10%; /* #17171b */
	--destructive: 0 84.2% 60.2%; /* #ee4444 */
	--destructive-foreground: 0 0% 98%; /* #f9f9f9 */
	--border: 240 5.9% 90%; /* #e3e3e7 */
	--input: 240 5.9% 90%; /* #e3e3e7 */
	--ring: 240 10% 3.9%; /* #08080a */
	--chart-1: 12 76% 61%; /* #e76e4f */
	--chart-2: 173 58% 39%; /* #299d8f */
	--chart-3: 197 37% 24%; /* #264753 */
	--chart-4: 43 74% 66%; /* #e8c468 */
	--chart-5: 27 87% 67%; /* #f4a361 */
    --radius: 0.5rem;
  }
  .dark {
	--background: 240 10% 3.9%; /* #08080a */
	--foreground: 0 0% 98%; /* #f9f9f9 */
	--card: 240 10% 3.9%; /* #08080a */
	--card-foreground: 0 0% 98%; /* #f9f9f9 */
	--popover: 240 10% 3.9%; /* #08080a */
	--popover-foreground: 0 0% 98%; /* #f9f9f9 */
	--primary: 0 0% 98%; /* #f9f9f9 */
	--primary-foreground: 240 5.9% 10%; /* #17171b */
	--secondary: 240 3.7% 15.9%; /* #27272a */
	--secondary-foreground: 0 0% 98%; /* #f9f9f9 */
	--muted: 240 3.7% 15.9%; /* #27272a */
	--muted-foreground: 240 5% 64.9%; /* #a1a1a9 */
	--accent: 240 3.7% 15.9%; /* #27272a */
	--accent-foreground: 0 0% 98%; /* #f9f9f9 */
	--destructive: 0 62.8% 30.6%; /* #7f1d1d */
	--destructive-foreground: 0 0% 98%; /* #f9f9f9 */
	--border: 240 3.7% 15.9%; /* #27272a */
	--input: 240 3.7% 15.9%; /* #27272a */
	--ring: 240 4.9% 83.9%; /* #d3d3d7 */
	--chart-1: 220 70% 50%; /* #2661d8 */
	--chart-2: 160 60% 45%; /* #2db789 */
	--chart-3: 30 80% 55%; /* #e88c30 */
	--chart-4: 280 65% 60%; /* #af56db */
	--chart-5: 340 75% 55%; /* #e2366f */

  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

